.yui3-skin-sam .yui3-calendarnav-prevmonth, .yui3-skin-sam .yui3-calendarnav-nextmonth {
  color: #000000;
  width: 0;
  height: 0;
  border: 10px solid #000;
  border-top-color: transparent;
  border-bottom-color: transparent;
  position: absolute;
}

.yui3-skin-sam .yui3-calendarnav-prevmonth:hover, .yui3-skin-sam .yui3-calendarnav-nextmonth:hover {
  color: #0066CC;
}

.yui3-skin-sam .yui3-calendarnav-month-disabled, .yui3-skin-sam .yui3-calendarnav-month-disabled:hover {
  cursor: default;
  color: #CCCCCC;
}

.yui3-skin-sam .yui3-calendarnav-prevmonth, .yui3-skin-sam .yui3-calendarnav-prevmonth:hover {
  border-left-color: transparent;
  border-left-width: 0;
  left: 0;
}

.yui3-skin-sam .yui3-calendarnav-nextmonth, .yui3-skin-sam .yui3-calendarnav-nextmonth:hover {
  border-right-color: transparent;
  border-right-width: 0;
  right: 0;
}

.yui3-skin-sam .yui3-calendarnav-prevmonth span, .yui3-skin-sam .yui3-calendarnav-nextmonth span {
   display: none;
   *display: block;
}