.yui3-calendar-header {
	text-align: center;
	position: relative;
}

.yui3-calendar-header-label {
	display: inline;
}

.yui3-calendarnav-prevmonth {
	cursor: pointer;
}

.yui3-calendarnav-nextmonth {
	cursor: pointer;
}